.admin input, .admin textarea {
    background-color: var(--formInput);
    border: 1px solid var(--formInputBorder);
    padding: 0.5rem;
}

#admin-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.formbox label, .word-list-form label {
    font-size: 1.2rem;
    font-weight: bold;
}

.formbox input {
    width: 100%;
}

.word-list-form p {
    margin-top: 0.2rem;
}

.word-list-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 0;
    margin-top: 0.8rem;
}

.word-list-grid li {
    width: auto;
    flex-grow: 1;
}

.word-list-grid input {
    width: 100%;
}

.submit-btn {
    padding: 1.2rem;
    background-color: var(--btnColor);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}