.gridBox {
    display: grid;
    width: 60%;
    min-width: 600px;
}

.gridBox .itemBox {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--borderColor);
    gap: 0px;
}

.item {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--mainTextColor);
    gap: 0px;
}

.itemBox:hover {
    background-color: var(--markRed);
    border-color: var(--markRed);
    /* background-color: var(--mainTextColor);
    border-color: var(--mainTextColor); */
    color: white;
}

.itemBox:hover .item {
    color: white;
}


.correct {
    background-color: tomato;
}

/* ===================== */
.game h2 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
}


/* 칸 */
.playbox {
    display: flex;
    justify-content: center;
}

/* 단어 */
.word-list {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4em;
    font-weight: bold;
    background-color: var(--markLightBlue);
}

/* 여백 생기는 건 word-list 글자 크기 때문임 */
/* @media screen and (max-width: 600px) {
    .word-list {
        font-size: 1rem;
    }
} */

